@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import './assets/font.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 16px;
  line-height: 24px;

  user-select: none;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

:focus-visible {
  outline: none;
}

html,
body {
  font-family: 'Roboto', 'SF Pro SC', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-app-region: drag;
}

button,
input {
  -webkit-app-region: no-drag;
}
